<div class="infoWrapper">
    <mat-card>
        <div class="itemImg"></div>
        <div class="details">
            <div class="title">Fujifilm XT-100</div>
            <div class="returnDate">verfügbar in <b>3 Tagen</b></div>
            <div class="borrowUser">
                Entliehen von <br>
                <b>Sebastian Schiefermayr</b>
            </div>
            <div class="actionbuttons">
                <button color="primary" mat-raised-button style="margin-right: 5px">Erinnern</button>
                <button mat-raised-button>Verlängern</button>
            </div>
            <div class="closeIcon"></div>
        </div>
    </mat-card>
</div>
