<div class="box" id="box1">
  <a class="coloredTxt">{{this.dataservice.equipmentName1}}</a>
  <br>
  <a> wieder verfügbar am: </a>
  <br>
  <a class="underline">{{this.dataservice.returnDate1}}</a>
</div>

<div class="box" id="box2">
  <a class="coloredTxt">{{this.dataservice.equipmentName2}}</a>
  <br>
  <a> wieder verfügbar am: </a>
  <br>
  <a class="underline">{{this.dataservice.returnDate2}}</a>
</div>

<div class="box" id="box3">
  <a class="coloredTxt">{{this.dataservice.equipmentName3}}</a>
  <br>
  <a> wieder verfügbar am: </a>
  <br>
  <a class="underline"> {{this.dataservice.returnDate3}}</a>
</div>





