<table [dataSource]="entlehnungs" mat-table>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let entlehnung"
        mat-cell> {{entlehnung.user.firstname}} {{entlehnung.user.lastname}}</td>
  </ng-container>

  <!-- Gerät Column -->
  <ng-container matColumnDef="geraet">
    <th *matHeaderCellDef mat-header-cell> Gerät</th>
    <td *matCellDef="let entlehnung" mat-cell> {{entlehnung.equ.displayname}}</td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="datum">
    <th *matHeaderCellDef mat-header-cell> Datum</th>
    <td *matCellDef="let entlehnung" mat-cell> {{entlehnung.fromdate}} ------- {{entlehnung.todate}}</td>
  </ng-container>

  <!-- Accept (Häkchen) Column -->
  <ng-container matColumnDef="accept">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let entlehnung" mat-cell>
      <mat-icon (click)="acceptEquipmentAnfrage(entlehnung)" class="acceptIt" color="primary">check</mat-icon>
    </td>
  </ng-container>

  <!-- Decline (Kreuz) Column -->
  <ng-container matColumnDef="decline">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let entlehnung" mat-cell>
      <mat-icon (click)="declineEquipmentAnfrage(entlehnung)" class="acceptIt" color="accent">close</mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

