#wrapper{
    width: 100%;
    height: 100vh;
}
.info{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
.mat-card{
    width: 600px;
    height: 90%;
    margin:20px auto 0 auto;
}
.mat-form-field{
    max-width: 500px;
    width: 300px;
}
#avatarWrapper:hover .overlay{
    opacity: 1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 120;
    opacity: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    line-height: 200px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.overlay mat-icon{
    width: 72px;
    height: 72px;
    font-size: 72px;
    line-height: 200px;
    margin: auto;
}
.avatar, #avatarWrapper {
    position: relative;
    background-size: cover;
    width: 200px;
    height:200px;
    margin:0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media screen and (min-width: 1024px){
    #wrapper{
        max-width: calc(100vw - 300px);
    }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (min-width : 320px) and (max-width : 480px) {

    #wrapper{
        max-width: 100vw;
    }
    .mat-card{
        max-width: calc(100vw - 40px);
        margin: 0 auto;
    }

}
