<div id="filterBar">
    <button (click)="filterLog('')" color="success" mat-button>ALLE</button>
    <button (click)="filterLog('AUSBORGEN')" color="warn" mat-button>AUSGEBORGT</button>
    <button (click)="filterLog('RESERVIERT')" mat-button style="color:orange;">RESERVIERT</button>
    <button (click)="filterLog('RETOUR')" mat-button style="color:green;">RETOUR</button>
    <select (change)="switchLogs($event.target.value)">
        <option selected>---</option>
        <option *ngFor="let log of logs">{{log}}</option>
    </select>
</div>
<div id="logView">
    <div *ngFor="let entry of this.filteredEntries" class="logEntry">
        <span class="date">{{entry.timestamp}}</span>
        <span [innerHTML]="formatStatus(entry.status)" class="status"></span>
        <span [innerHTML]="entry.user" class="user"></span>
        <span [innerHTML]="entry.equipment" class="equipment"></span>
    </div>
</div>
