<div class="itemBox">
    <div class="itemIcon"></div>
    <div class = "itemOverlay">Deadline: 30.01.2019</div>
    <button mat-stroked-button color="primary">F20</button>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class = "itemOverlay">Deadline: 30.01.2019</div>
    <button mat-stroked-button color="primary">F20</button>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class = "itemOverlay">Deadline: 30.01.2019</div>
    <button mat-stroked-button color="primary">F20</button>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class = "itemOverlay">Deadline: 30.01.2019</div>
    <button mat-stroked-button color="primary">F20</button>
</div>