.itemBox {
  position: relative;
  width: 128px;
  height: 128px;
  padding: 10px 10px 35px 10px;
  float: left;
  margin: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.itemIcon {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 100%;
  max-height: 128px;
  max-width: 128px;
}

.itemIcon img {
  transition: transform 0.4s;
  transform: scale(1.2);
  max-width: 128px;
  max-height: 128px;
}

.itemIcon img:hover {
  transform: scale(1.13);
}

.itemOverlay {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  margin-bottom: 20px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.mat-chip {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0%;
  left: 50%;
  max-width: 70px;

}

.pending {
  opacity: .5;
}
