<div class="itemBox">
    <div class="itemIcon"></div>
    <div class="itemOverlay">Deadline: 30.01.2019</div>
    <mat-chip-list>
        <mat-chip color="primary" selected>F20</mat-chip>
    </mat-chip-list>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class="itemOverlay">Deadline: 30.01.2019</div>
    <mat-chip-list>
        <mat-chip color="primary" selected>F20</mat-chip>
    </mat-chip-list>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class="itemOverlay">Deadline: 30.01.2019</div>
    <mat-chip-list>
        <mat-chip color="primary" selected>F20</mat-chip>
    </mat-chip-list>
</div>
<div class="itemBox">
    <div class="itemIcon"></div>
    <div class="itemOverlay">Deadline: 30.01.2019</div>
    <mat-chip-list>
        <mat-chip color="primary" selected>F20</mat-chip>
    </mat-chip-list>
</div>