.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-full-width {
  width: 100%;
}

.outerUpload {
  width: 14em;
  height: 14em;
  border: 2px dashed #8A72DC;
  border-radius: 100%;
  overflow: hidden;
  background: url("http://vm88.htl-leonding.ac.at/uploads/cloud-upload-2.png") no-repeat center center;
  background-size: 64%;
  margin-left: calc(39% - 7em);
  margin-top: 30px;
}

.outerUpload:hover {
  /*background-image: url();
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;*/
}

.innerUpload {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
  font-size: 1.5em;
  background-size: cover;
  background-position: center;
}

.cards {
  padding: 2rem;
  max-width: calc(100vw - 400px);
}

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1.4rem;
  list-style-type: none;
}

.cards > ul > li{
  max-width: 100%;
}

@media (min-width: 0px) and (max-width: 600px) {
  .outerUpload {
    margin-left: calc(50% - 7em);
  }

  main {
    width: 100vw;
    margin-left: 0;
    text-align: center;
    margin-top: 50px;
  }

  .cards {
    padding: 0;
    text-align: left;
    max-width: inherit;
    margin: 0 auto 30px 10%;
  }

  .cards > ul{
    margin: 0;
    padding: 0;
    position: relative;
    left: -5%;
  }
}
