.mat-dialog-container {
    width: 20%;
    height: 70%;
}

.mat-dialog-content {
    overflow: auto;
}

#example-container {
    overflow: hidden;
}

.mat-dialog-actions {
    margin-bottom: 0 !important;
}

.pickerBox {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.fotoborder{
  width: 100%;
  height: fit-content;
  text-align: center;
}

.fotoborder img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
