<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-card class="avatarbox">
      <mat-card-content>
        <div mat-card-avatar class="avatar"
             [ngStyle]="this.dataservice.getPB()"></div>
        <div id="studentsinfo">
          <mat-card-title>{{this.dataservice.sessionUser.firstname}} {{this.dataservice.sessionUser.lastname}}</mat-card-title>
          <mat-card-subtitle>{{this.dataservice.sessionUser.schoolclass}}</mat-card-subtitle>
        </div>
      </mat-card-content>
      <div id="actions">
        <mat-card-actions>
          <button mat-button routerLink="profil">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button routerLink="settings">
            <mat-icon>settings</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-nav-list>
      <a *ngFor="let item of this.dataservice.filteredNavItems" mat-list-item routerLink="{{item.route}}"
         [ngClass]="toggleActive(item.route)">
        <mat-icon>{{item.icon}}</mat-icon>
        {{item.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="z-index: 100" color="primary" *ngIf="(isHandset$ | async)">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EVS-System</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
